.header {
    width: 100%;
    height: 120px;
    background-color: #da1996;
    padding: 12px 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    flex: 0 0 auto;
  }
  .header__wrapper  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
  }
  .header__left  {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__center__menu {
    font-weight: bold;
    /* font-family: sans-serif; */
    color: rgb(24, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    cursor: pointer;
    text-decoration: solid;
}

 .header__right {
    display: flex;
    align-items: stretch;
    gap: 20px;
}
  .favor__card__liked {
fill:#da1996;
stroke: black;
stroke-width: 0.5px;
}
.card__liked svg {
  
}
.header__bable {
  background-color: rgb(190, 49, 174);
  color:white;
  font-size: 11px;
  width: 19px;
  height: 14px;
  border-radius: 30px;
  position: absolute;
  left: 60%;
  bottom: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__bable-link {
  text-decoration: none;
  position: relative;
}
.header__user {
  display: block;
}
.btn__add_product {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;

  padding: 6px 10px;
  font-weight: 700;
  font-size: 16px;
  gap: 10px;
  border: none;
  background-color:#f04dff;
  color: black;
  cursor: pointer;
}
  @media (max-width: 700px) {
    .header__wrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
    }
  }
  

  