.profile {
    & .auth__info {
        cursor: pointer;
    }
    & .auth__input {
        max-height: 2 rem;
    }
    &__user {
        display: grid;
        grid-template-columns:1fr 1fr ;
        gap: 1rem;
        max-width: 740px;
    }
    &__avatar {
        display: flex;
        align-items: center;
        gap: 2rem;
       padding: 3rem 0 2rem 0; 
    }
    &__avatar-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}